.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  width: 20vw;
  margin: 25px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding-inline-start: 20px;
}

.text-gray {
  color: gray
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list-item {
  margin: auto 20px;
}

.car-container {
  margin: 50px;
}

.car-paper {
  padding: 50px;
}

.link {
  color: white;
}

.paper {
  text-align: center;
  margin-top: 8%;
  margin-left: 24%;
  margin-right: 24%;
}

.carDetails {
  list-style-type: none;
}

.carName {
  font-weight: bold;
  font-size: 18px;
}
